header{
     background-color: 80A3A2;
     text-align: center;
 }
 nav{
     background-color: #ABCECF;
 }
 section{ 
     background-color: #C4DCE0;
     grid-column: 1/4;
 }
 .imgpg1{
     background-color: #C4DCE0;
     text-align: center;
     grid-column: 4/6;
 }
 .unadfb{
     text-align: center;
     grid-column: 6/7;
 }
 footer{
    background-color: #DAF4F5;;
 }
 main{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 }
 /*Implementacion del menu*/
 *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #ABCECF
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li >a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menu li a:hover {
    color: #292c2e;
    transition: all .3s;
}
.submenu {
    position:absolute;
    background: #99babb;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family:'open sans';
    text-decoration:none;
}
.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
 